@import 'simplebar/dist/simplebar.min.css';

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
}

.section, .container {
  width: 100%;
}

.simplebar-fullscreen {
  height: 100vh;
}
