@import 'simplebar/dist/simplebar.min.css';
@import './transitions.scss';

html, body {
  width: 100%;
  height: 100%;
  background-color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: white;
  text-decoration: none;
}

.section, .container {
}

.container {
  max-width: 1720px;
  margin: 0 auto;
}

.simplebar-fullscreen {
  height: 100vh;
}

.hidden {
  opacity: 0;
}

.flex {
  display: flex;
}

.a {
  &_underlined {
    text-decoration: underline;
  }
}

@media (max-width: 1800px) {
  .container {
    max-width: 100%;
    padding: 0 5rem;
  }
}
